.bitcoin-img {
  width: 100%;
  min-width: 32rem;
  height: 50vh;
  background-image: url("../assets/img/bitcoin.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  &__text {
    position: relative;
    padding-bottom: 1.5rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: $just-white;
  }
}
