.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  flex-direction: row;
  height: 15rem;
  background-color: $bitcoin-orange;

  & section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.sectionOne {
  width: 50%;
  height: auto;

  &__list {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;

    &--item {
      margin: 1rem 0;

      a {
        text-decoration: none;
        color: $just-white;
      }
    }
  }
}

.sectionTwo {
  width: 50%;

  &__logo {
    position: relative;
    font-size: 2rem;
  }

  &__logo::after {
    content: "";
    position: absolute;
    width: 10rem;
    height: 3.8rem;
    top: 1.4rem;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid $black;
  }
}
